<section class="s-introduction">
  <p>
    Hey there! I’m a Kashmiri with a love for the web, pizza, comics, and Frank Oceans's <em><a href="https://open.spotify.com/album/3mH6qwIy9crq0I9YQbOuDf?si=b1hHll7FQuOqccgBy4pCeg">Blonde</a></em>.
  </p>

  <p>
    For the last 8 years, I have worked remotely as a UI designer and a Front-end developer. Currently, I'm working as an Engineering Manager at <a href="https://www.axelerant.com">Axelerant</a> where I lead a team of Front-end developers.
  </p>
</section>
