<div class="block about">
    <div class="block__header">
        <h4 class="block__title">Bassam ?</h4>
    </div>
    <div class="block__description">
        I’m a 25 year old <strong>Front-end Developer</strong> from Srinagar, Kashmir. I work at <a class="axelerant" href="http://www.axelerant.com">Axelerant</a> where most of my time is spent working on medium to large scale websites. I specialize in <strong>Front-end architecture, responsive design, performance optimization and UI/UX development</strong>.
    </div>
</div>
