<div class="feature">
    <p class="lead">
        I’m a 25 year old <strong>Front-end Developer</strong> from Srinagar, Kashmir. I work at <a class="axelerant" href="http://www.axelerant.com">Axelerant</a> where most of my time is spent working on medium to large scale websites built on top of <a href="http://www.drupal.org">Drupal</a>. I've been working with various startups for the past three years with an agile approch, building front-end for website and webapp.
    </p>

    <figure>
        <img src="/images/feature-grand-palace.jpeg" alt="The Grand Palace">
        <figcaption>The Grand Palace.</figcaption>
    </figure>
</div>
