<footer class="footer">
    <div class="footer__alpha">
        <div class="contain">
            <ul class="stacked-list footer__social__list">
                <li class="footer__social__item"><a class="footer__social__link" href="https://twitter.com/skippednote"><span class="icon-twitter"></span></a></li>
                <li class="footer__social__item"><a class="footer__social__link" href="https://github.com/skippednote"><span class="icon-github"></span></a></li>
                <!-- <li class="footer__social__item"><a class="footer__social__link" href="http://instagram.com/skippednote"><span class="fa fa-instagram"></span></a></li> -->
                <li class="footer__social__item"><a class="footer__social__link" href="mailto:skippednote@gmail.com?subject=Hello"><span class="icon-mail"></span></a></li>
            </ul>
        </div>
    </div>
    <div class="footer__beta">
        <div class="contain">
            <blockquote class="f-quotes">
                <p class="f-quote"></p>
                <cite class="f-author"></cite>
            </blockquote>
            <a class="back-to-top" href="#header">Back to top</a>
            <div class="info">&copy; 2012 &ndash; Bassam Ismail.</div>
            <div class="info">Don&rsquo;t steal &middot; Don&rsquo;t judge &middot; Share</div>
        </div>
    </div>
</footer>

