<header class="site-header" id="header">
    <div class="contain">
        <nav class="site-nav">
            <ul class="site-nav__list">
                <li class="site-nav__item">
                    <a class="site-nav__link" href="/">Home</a>
                </li>

                <li class="site-nav__item">
                    <a class="site-nav__link" href="/about">About</a>
                </li>

                <li class="site-nav__item">
                    <a class="site-nav__link" href="/journal">Journal</a>
                </li>

                <li class="site-nav__item">
                    <a class="site-nav__link" href="/cv">CV</a>
                </li>
                <li class="site-nav__item">
                    <a class="site-nav__link" href="/contact">Contact</a>
                </li>
            </ul>
            <div class="site-nav__menu-wrap">
                <a class="site-nav__home" href="/">
                    {% include logo.html %}
                </a>
                <button class="button button--menu">Menu</button>
            </div>
        </nav>
    </div>
</header>
