<div class="section section-halves project">
    <div class="clearfix">
        <h3 class="section__heading">Project</h3>

        <ul class="bare-list section__list">
            <li class="section__item">
                <h3 class="section__title">
                    <a class="section__link"
                      href="http://scrnshtr.bassam.co">scrnshtr</a>
                </h3>
                <div class="section__description">Easily take screenshots.</div>
            </li>

            <li class="section__item">
                <h3 class="section__title">
                    <a class="section__link"
                      href="http://dcla.bassam.co/">DrupalCon LA 2015 listing</a>
                </h3>
                <div class="section__description">Current time for all the members of your slack team</div>
            </li>

            <li class="section__item">
                <h3 class="section__title">
                    <a class="section__link" href="http://axelerant.bassam.co">Slack Timezone</a>
                </h3>
                <div class="section__description">Current time for all the members of your slack team</div>
            </li>

            <li class="section__item">
                <h3 class="section__title">
                    <a class="section__link" href="http://d8.bassam.co">D8 Contributors</a>
                </h3>
                <div class="section__description">Listing and API for Drupal8 core contributors</div>
            </li>

            <li class="section__item">
                <h3 class="section__title">
                    <a class="section__link" href="http://writ.bassam.co">Writ</a>
                </h3>
                <div class="section__description">A Markdown app for mere mortals.</div>
            </li>

            <li class="section__item">
                <h3 class="section__title">
                    <a class="section__link" href="http://conversify.meteor.com">Conversify</a>
                </h3>
                <div class="section__description">Real time public chat.</div>
            </li>

            <li class="section__item">
                <h3 class="section__title">
                    <a class="section__link" href="https://github.com/skippednote/linkyapp">Linky</a>
                </h3>
                <div class="section__description">Geolocation based notes and link sharing.</div>
            </li>

            <li class="section__item">
                <h3 class="section__title">
                    <a class="section__link" href="https://github.com/skippednote/todayjs">Todayjs</a>
                </h3>
                <div class="section__description">Priorities tasks by creating today.txt on Desktop.</div>
            </li>

            <li class="section__item">
                <h3 class="section__title">
                    <a class="section__link" href="https://github.com/skippednote/Go-Learn/">Go-Learn</a>
                </h3>
                <div class="section__description">Get going with Go.</div>
            </li>
        </ul>
    </div>

    <!-- <div class="section__button__wrapper button__wrapper"> -->
    <!--     <a href="/journal" class="button section__button">Archive</a> -->
    <!-- </div> -->
</div>

