---
layout: layouts/base.njk
---
<article itemscope itemtype="http://schema.org/BlogPosting" class="h-entry">
  <header>
    <h1 class="h-title-page" itemprop="headline" class="p-name">{{ title | markdown | safe }}</h1>
    <p hidden class="p-summary hidden">{{ description}}</p>
    <p class="s-meta">
      {% if tags %}
        {% for tag in tags %}
          <a href="/blog/tags/{{ tag | slug }}" class="tag">{{ tag }}</a>
        {% endfor %}
      {% endif %}
      ·
      <time datetime="{{ date | htmlDateString }}" itemprop="datePublished">{{ date | readableDate }}</time>
    </p>
  </header>
  <div itemprop="articleBody" class="e-content">
    {{ content | safe }}
  </div>

  <footer class="p-footer">
    <div>
      Bassam Ismail is a software engineer currently working as an Engineering Manager where he leads a team of front-end developers. He has been working remotely from Kashmir for the last 8 years.
    </div>
    {% if tweet %}
      <a href="https://twitter.com/skippednote/status/{{ tweet }}" class="retweet">Retweet this article!</a>
    {% endif %}
  </footer>
</article>



