<div class="banner">
    <picture class="banner__image">
        <source media="(min-width: 1025px)" srcset="/imgs/bassam/banner-portrait.jpg">
        <source media="(min-width: 768px)" srcset="/imgs/bassam/banner.jpg">
        <img src="/imgs/bassam/banner-portrait.jpg" alt="Bassam at Sonamarg">
    </picture>
    <div class="banner__summary">
        <h2 class="banner__title">Hi! I'm Bassam.</h2>
        <p>Around the web I'm
            <span class="link">skippednote</span>.</p>
        <p>
            I’m a front-end engineer and speaker based in Kashmir. I work at Axelerant as a Front-end Architect. In the past I’ve worked
            with companies like Acquia and Pixoto.
        </p>
        <p>
            I strive to build responsive, highly performant and pleasing user experiences for everyone. This is done by marrying modern
            technologies with accessible design.
        </p>
        <p>
            I provide a set of
            <a href="/hire/">services</a> to help improve your project and grow your team. I will audit your project and work on the codebase
            to improve it. You can also invite me to run a workshop for your team.
        </p>
        <p>
            <a class="button hire" href="/hire/">{{ partial "svg/handshake.svg"}}&nbsp;Hire me</a>
        </p>
    </div>
</div>