<footer class="footer">
  <div class="info">
    <p class="name">
      <strong>Bassam Ismail</strong>
    </p>
    <p class="company">Front-end Developer at
      <a href="https://www.axelerant.com">Axelerant</a>
    </p>
    <p class="resume">
      Find my Résumé
      <a href="https://drive.google.com/file/d/0B8aPkw9-FS3rSXNWMTJHSkpLVFE/view?usp=sharing">here</a>
    </p>
    <p class="copy">&copy; 2010 &ndash; 2018 Copyright Bassam Ismail.</p>
    <!-- {{ template "theme/partials/sidebar.html" . }} -->
  </div>

  <div class="social">
    <p class="social__item">
      <a href="mailto:skippednote@gmail.com">
        {{ partial "svg/envelope.svg" }} skippednote@gmail.com</a>
    </p>
    <p class="social__item">
      <a href="https://www.github.com/skippednote">
        {{ partial "svg/github.svg" }} github.com/skippednote</a>
    </p>
    <p class="social__item">
      <a href="https://www.twitter.com/skippednote">
        {{ partial "svg/twitter.svg" }} twitter.com/skippednote</a>
    </p>
    <p class="social__item">
      <a href="https://linkedin.com/in/skippednote">
        {{ partial "svg/linkedin.svg" }} linkedin.com/in/skippednote</a>
    </p>
  </div>
</footer>