<nav>
    <ul class="header__list">
        <li class="header__list-item">
            <a href="/about/" class="header__link">About</a>
        </li>
        <li class="header__list-item">
            <a href="/blog/" class="header__link">Blog</a>
        </li>
        <li class="header__list-item">
            <a href="/reading/" class="header__link">Reading</a>
        </li>
        <li class="header__list-item  header--resume">
            <a href="https://drive.google.com/file/d/0B8aPkw9-FS3rSXNWMTJHSkpLVFE/view?usp=sharing" class="header__link" target="_blank"
                rel="noopener">Résumé</a>
        </li>
        <!-- <li class="header__list-item">
            <a href="/contact/" class="header__link">Contact</a>
        </li> -->
        <li class="header__list-item">
            <a href="/hire/" class="header__link header__link--active">Hire me</a>
        </li>
    </ul>
</nav>