.header {
  margin-bottom: 3rem;
}

.site-title {
  margin-bottom: 0;
  font-size: var(--fs-site-title);
}

@media (max-width: 767px) {
  .site-title {
    font-size: 30px;
  }
}

.site-title a {
  text-decoration: none;
  color: var(--color-text);
}

.title-page {
  font-size: var(--fs-site-title-page);
}

.title-page a {
  color: var(--color-link);
}
